In [26]:
import duckdb

result = duckdb.sql("SELECT * FROM 'data/year=*/month=*/*.parquet' LIMIT 1").df()
result.head()

,edit_count,user_index,pos_x,pos_y,is_bot,corporation,created_by,imagery_used,hashtags,source,streetcomplete_quest,mobile_os,all_tags,month,year
0,4,32,180,142,False,,None,<NA>,<NA>,<NA>,None,None,[],10,2005